<div>
  <ion-list class="light-bg" ng-show="formData.block_type">
<!--
    <label class="item item-input item-stacked-label light-bg" ng-class="{ 'validation-error': formData.block_type == 'Beer' && formElement.beerKey.$invalid && formElement.beerKey.$dirty }" ng-show="formData.block_type == 'Beer'">
      <span class="input-label">
        (Brewery DB) Beer Id
      </span>

      <input
        name="beerKey"
        ng-model="formData.beer_key"
        type="text"
        ng-required="{{ formData.block_type == 'Beer' }}"
        placeholder="(Brewery DB) Beer Id" />
    </label>
-->
    <input
      name="beerKey"
      ng-model="formData.beer_key"
      type="hidden" />

    <label
      class="item item-input item-stacked-label light-bg"
      ng-init="message = formData.block_type == 'Beer' ? 'Say something about this beer' : 'Add some text...'"
    >
      <span class="input-label">
        {{ message }}
      </span>

      <textarea
        class="light-bg"
        name="message"
        ng-model="formData.message"
        type="text"
        rows="5"
      ></textarea>
    </label>

    <div class="item" ng-show="formData.block_type == 'Beer'">
      <div>
        Invtentory
      </div>

      <div class="radio-set items-4">
        <label class="radio-item" ng-repeat="quantity in quantityOptions" ng-class="{ checked: formData.quantity_id == quantity.id }">
          <input type="radio" name="quantityId" ng-model="formData.quantity_id" ng-value="{{ quantity.id }}" ng-checked="formData.quantity_id == quantity.id">

          {{ quantity.label }}
        </label>
      </div>
    </div>

    <label
      class="item item-input item-stacked-label light-bg"
      ng-show="formData.block_type == 'Beer'"
    >
      <span class="input-label">
        Food pairings
      </span>

      <textarea
        class="light-bg"
        name="food_pairings"
        ng-model="formData.food_pairings"
        type="text"
        placeholder="What food would you drink this with?"
        rows="2"
      ></textarea>
    </label>

<!-- make this a follow up question so that a beer can have more than one similar beer
    <label
      class="item item-input item-stacked-label light-bg"
      ng-show="formData.block_type == 'Beer'"
    >
      <span class="input-label">
        For the Macro drinker, what is a similar beer?
      </span>

      <input
        name="simiar_beer_key"
        ng-model="formData.simiar_beer_key"
        type="text"
        ng-required="{{ formData.block_type == 'Beer' }}"
        placeholder="(Brewery DB) Similar Beer Id" />
    </label>
-->

    <label
      class="item item-input item-stacked-label light-bg"
      ng-class="{ 'validation-error': formElement.note.$invalid && formElement.note.$dirty }"
    >
      <span class="input-label">
        Note to self
      </span>

      <input
        name="note"
        ng-model="formData.note"
        type="text"
        ng-required="true"
        placeholder="Add a note (customers will not see this)" />
    </label>
  </ion-list>
</div>
