<ion-view view-title="{{ newsletter.subject }}">
  <ion-nav-buttons side="right">
    <button
      class="button button-icon button-clear ion-android-more-horizontal"
      ng-click="showOptionsMenu($event)">
    </button>
  </ion-nav-buttons>

  <form name="editForm" ng-submit="save(editForm)">
    <ion-footer-bar>
      <div class="button-bar">
        <button
          type="button"
          class="button button-stable"
          ng-click="cancel()">
          Cancel
        </button>

        <button
          type="submit"
          class="button button-positive"
          ng-disabled="editForm.$pristine || editForm.$invalid">
          Save
        </button>
      </div>
    </ion-footer-bar>

    <ion-content padding="true">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

      <beer-list-item
        beer="block.beer"
        ng-show="formData.block_type == 'Beer'"
      ></beer-list-item>

      <h5>
        Edit this info
      </h5>

      <newsletter-block-form
        newsletter-id="newsletterId"
        form-data="formData"
        form-element="editForm"
      ></newsletter-block-form>
    </ion-content>
  </form>
</ion-view>
