<ion-view view-title="{{ newsletter.subject }}">
  <ion-nav-buttons side="right">
    <button
      class="button button-icon button-clear ion-android-more-horizontal"
      ng-click="showOptionsMenu($event)">
    </button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>

    <div class="padding">
      <h5>Add more to this newsletter:</h5>

      <div class="button-bar">
        <button
          type="button"
          class="button positive-bg light"
          ng-click="scan()"
          ng-disabled="!features.hasScanner"
        >
          <i class="icon ion-ios-barcode-outline"></i>

          <span class="button-title">
            Scan Beer
          </span>
        </button>

        <button type="button" class="button positive-bg light" ng-click="search()">
          <i class="icon ion-search"></i>

          <span class="button-title">
            Search Beer
          </span>
        </button>

        <button type="button" class="button positive-bg light" ng-click="text()">
          <i class="icon ion-edit"></i>

          <span class="button-title">
            Add Text
          </span>
        </button>
      </div>

      <p class="assertive" ng-hide="features.hasScanner">
        <em>
          Barcode scanning available in app only.
        </em>
      </p>
    </div>

    <ion-list>
      <ion-item class="item-divider">
        Included in this Newsletter
      </ion-item>

      <ion-item
        class="stable-bg item-text-wrap"
        ng-repeat="block in newsletter.blocks">
        <newsletter-block block="block"></newsletter-block>

        <!--
        quantity (single beer, 6-pack, case, growler, newspaper for content blocks,
        name
        -->
      </ion-item>

      <ion-item class="item-wrap-text" ng-hide="newsletter.blocks.length">
        <em class="energized">
          there is no content in this newsletter yet
        </em>
      </ion-item>

      <!-- uncomment to test search by upc
        <input ng-model="upc.code" ng-model-options="{ debounce: 1000 }" />
      -->
    </ion-list>

    <p>created: {{ newsletter.created_at | dateTime }}</p>
  </ion-content>
</ion-view>
