<ion-view view-title="Create a Newsletter">
  <form name="editForm" ng-submit="save(editForm)">
    <ion-footer-bar>
      <div class="button-bar">
        <button
          type="button"
          class="button button-stable"
          ng-click="cancel()">
          Cancel
        </button>

        <button
          type="submit"
          class="button button-positive"
          ng-disabled="editForm.$pristine || editForm.$invalid">
          Save
        </button>
      </div>
    </ion-footer-bar>

    <ion-content padding="true" class="has-footer">
      <ion-list>
        <label
          class="item item-input item-floating-label light-bg"
          ng-class="{ 'validation-error': editForm.subject.$invalid && editForm.subject.$dirty }"
        >
          <span class="input-label">
            Subject
          </span>

          <input
            name="subject"
            ng-model="formData.subject"
            type="text"
            ng-required="true"
            placeholder="Subject" />
        </label>
      </ion-list>
    </ion-content>
  </form>
</ion-view>
