<ion-view view-title="Welcome to Brew Line">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-60 col-offset-20">
        <img src="img/icon.svg" width="100%" />
      </div>
    </div>

    <p>
      BrewLine: building communities centered around you.
    </p>

    <p>
      Built for brewers, retailers, and beer drinkers, BrewLine helps us all
      drink better beer.
    </p>

    <hr />

    <button
      class="button button-block button-small button-positive"
      ng-click="login()"
    >
      Log in
    </button>
  </ion-content>
</ion-view>
