<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Newsletters" icon-off="ion-ios-pint-outline" icon-on="ion-ios-pint" ui-sref="tab.newsletters">
    <ion-nav-view name="tab-newsletters"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
